<% if user_signed_in? %>

<h3>Your Enrolled Courses</h3>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Couses Enrolled</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Ongoing</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Completed</button>
  </div>
</nav>


<div class="tab-content content-padding" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">	
	<% if @user_enrolled_courses.empty? %>
		<p>No records found</p>
	<% else %>
	<div class="row">
		<% @user_enrolled_courses.each do |course| %>
		 <div class="col-sm-3 p-10">
		   <div class="card" style="width: 18rem; height: 30rem;">
		  		<%= image_tag("adorable.jpg", :class => "card-img-top", :alt => "Card image cap")  %>
	  		<div class="card-body">
	  			<h5 class="card-title"><%= course.title %></h5>
	  			<p class="card-text text-hide"><%= course.description %></p>
	  			<a href="/courses/<%= course.id %>" class="btn btn-primary">View Course</a>
	  		</div>
	  	</div>
	  </div>
	 	<% end %> 
	 </div>
	<% end%>
</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
  	<div class="row">
  	<% if @ongoing_courses.empty? %>
		<p>No records found</p>
	<% else %>
	  	<% @ongoing_courses.each do |course| %>
	  	<div class="col-sm-3 p-10">
			  <div class="card" style="width: 18rem; height: 30rem;">
			  		<%= image_tag("adorable.jpg", :class => "card-img-top", :alt => "Card image cap")  %>
		  		<div class="card-body">
		  			<h5 class="card-title"><%= course.title %></h5>
		  			<p class="card-text text-hide"><%= course.description %></p>
		  			<a href="/courses/<%= course.id %>" class="btn btn-primary">View Course</a>
		  		</div>
		  	</div>
		  </div>
		<% end %>
	</div>
	<% end %>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
  	<% if @completed_courses.empty? %>
		<p>No records found</p>
	<% else %>
		<div class="row">
	  	<% @completed_courses.each do |course| %>
	  	<div class="col-sm-3 p-10">
		  	<div class="card" style="width: 18rem; height: 30rem;">
			  		<%= image_tag("adorable.jpg", :class => "card-img-top", :alt => "Card image cap")  %>
		  		<div class="card-body">
		  			<h5 class="card-title"><%= course.title %></h5>
		  			<p class="card-text text-hide"><%= course.description %></p>
		  			<a href="/courses/<%= course.id %>" class="btn btn-primary">View Course</a>
		  		</div>
		  	</div>
		  </div>
		<% end %>
	</div>
	<% end %>

  </div>
  <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0"></div>
</div>
		


<% end %>
