<!-- Course Description & Enrollment Page -->

<p style="color: green"><%= notice %></p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <a href="/courses">Course</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @course.title  %></li>
  </ol>
</nav>

<div class="card mb-3">
  <%= image_tag("adorable.jpg", :class => "card-img-top", :alt => "Card image cap")  %>
  <div class="card-body">
    <h5 class="card-title"><%= @course.title%></h5>
    <p class="card-text"><%= @course.description  %></p>
    <p class="card-text"><small class="text-muted">Course Status: <% @course.ongoing_status ? puts("Ongoing") : puts("Completed") %></small></p>


<!-- Enroll option -->


<% if @status == true %>
  <button type="button" class="btn btn-secondary">Enrolled</button>
<% else%> 
  <%= button_to "Enroll Class", enrollments_url(:course_id =>  @course.id) %>
<% end %> 
  </div>
</div>